

<main class="container">
    <h4 class="center-align teal-text">Edit File</h4>
    <form action="Admin/EditFile" method="post">
        <div class="row">
            <div class="input-field s12">
                <textarea id="message_text" class="materialize-textarea">@ViewBag.Message</textarea>
                <label for="message_text">Message Text</label>
                @Html.ActionLink("Save Changes", "EditFile")
            </div>
        </div>
    </form>
</main>