<main class="container">
    <h4 class="center-align teal-text">Administrator Panel</h4>
    <div class="row">
        <div class="col s12  offset-m4 m4">
            <ul class="collection">
                <li class="collection-item">@Html.ActionLink("Upload welcome text", "Upload")</li>
                <li class="collection-item">@Html.ActionLink("Visitor Statistics", "ViewVisitorStats")</li>
                <li class="collection-item">@Html.ActionLink("Visitor Resolution Stats", "ViewBrowserStats")</li>
                <li class="collection-item">@Html.ActionLink("Update File", "UploadEditFilepage")</li>
            </ul>
        </div>
    </div>
</main>
