
<main class="container">
    <h4 class="center-align teal-text">Edit File</h4>
    <div class="row">
        <form action="Admin/UploadEditFile" method="post" enctype="multipart/form-data">

            <label for="textFile">Upload File to Edit:  </label>
            <input class="file-path btn" type="file" name="textFile" id="textFile" />
            <input class="btn" type="submit" value="Upload File" />
        </form>
    </div>
</main>