
@{
    ViewBag.Title = "BuySwap";
}
<main class="container">
<h4 class="center-align teal-text">Buy - Sell - Swap</h4>
    <div class="row">
        <div class="col m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/1/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                        <b>Wii Fit</b>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £11</p>
                        <p class="col s6">[Buy]</p>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Wii Fit <i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Buy" class="btn" />
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/3/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                        <b>Boxing101</b>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £1</p>
                        <p class="col s6">[Buy]</p>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Boxing101 <i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Buy" class="btn" />
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/2/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                        <b>Fifa</b>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £9</p>
                        <p class="col s6">[Buy]</p>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Fifa <i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Buy" class="btn" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/4/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                        <b>ABC123</b>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £5</p>
                        <p class="col s6">[Buy]</p>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        ABC123 <i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Buy" class="btn" />
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/5/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                        <b>Buy</b>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £18</p>
                        <p class="col s6">[Swap]</p>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Buy<i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Swap" class="btn" />
                </div>
            </div>
        </div>
        <div class="col  m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/6/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                        <b>Something</b>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £131</p>
                        <p class="col s6">[Swap]</p>
                    </div>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Something<i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Swap" class="btn" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/7/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                         <b>Game</b>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £4.50</p>
                        <p class="col s6">[Buy]</p>
                    </div>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Game<i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Buy" class="btn" />
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/8/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                       <b>Box</b> 
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £32.90</p>
                        <p class="col s6">[Buy]</p>
                    </div>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Box <i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Buy" class="btn" />
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/9/">
                </div>
                <div class="card-content">
                    <span class="Card-title activator grey-text text-darken-4">
                        <b>Stars</b>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <div class="row">
                        <p class="col s6">Price: £82</p>
                        <p class="col s6">[Swap]</p>
                    </div>
                    
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Stars <i class="material-icons right">close</i>
                    </span>
                    <p>
                        olor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui
                    </p>
                    <input type="submit" name="name" value="Swap" class="btn" />
                </div>
            </div>
        </div>
    </div>
</main>

