
@{
    ViewBag.Title = "Sell or Swap";
}
<main class="container">
    <h4 class="center-align teal-text">
        Sell or Swap
    </h4>
    <div class="col s12 m8">
        <div class="input-field ">
            <input id="game_title" class="validate" type="text" />
            <label for="game_title">Game Title</label>
        </div>
        <div class="input-field ">
            <input type="text" class="validate" id="game_format" />
            <label for="game_format">Game Format</label>
        </div>

        <div class="row">
            <div class="col s6">
                <p>
                    <input name="group1" type="radio" id="Sell" />
                    <label for="Sell">Sell</label>
                </p>
            </div>
            <div class="col s6">
                <p>
                    <input name="group1" type="radio" id="Swap" />
                    <label for="Swap">Swap</label>
                </p>
            </div>

        </div>

        <div class="input-field ">
            <textarea id="description" class="materialize-textarea validate"></textarea>
            <label for="description">Description</label>
        </div>
        <div class="input-field ">
            <input id="price" type="number" class="validate" />
            <label for="price">Price</label>
        </div>
        <div class="row">
            <form action="/Admin/upload" method="post" enctype="multipart/form-data">
                <div class="file-field input-field">

                    <div class="btn">
                        <span>Image</span>
                        <input type="file" value="Upload" />
                    </div>
                    <input class="file-path validate" name="photo" id="photo" type="text" />
                </div>
            </form>
        </div>
        <div class="row s12">
            <div class="center-align">
                <button name="Submit" value="Login" class="btn waves-effect waves-light" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>


</main>

